search_final/certeficate_storage 
search_final/search_venv
search_final/core/__pycache__

search_final/music_app/__pycache__
search_final/music_app/migrations/__pycache__



search_final/podcast_app/__pycache__
search_final/podcast_app/migrations/__pycache__


search_final/Radio_app/__pycache__
search_final/Radio_app/migrations/__pycache__

search_final/search_app/__pycache__
search_final/search_app/migrations/__pycache__
